
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "NODE_ENV=development npx next dev -p 3000 -H 0.0.0.0"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000
