modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Gatsby Development"

[[workflows.workflow]]
name = "Gatsby Development"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx gatsby develop -H 0.0.0.0 -p 3000"
waitForPort = 3000

[deployment]
run = ["sh", "-c", "npx gatsby develop -H 0.0.0.0 -p 3000"]
